body{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
/* ------------------------
banner section style start
-------------------------- */
.banner-section{
    background-color: #161616;
    color:white;
    width: 85%;
    margin:auto;
    border-radius:30px;
    padding-bottom:30px;
    margin-top:20px;
}
.banner{
    display: flex;
    width:90%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    gap:60px;
}
.banner-item p{
    padding-bottom:20px;
}
.banner-item a{
    text-decoration: none;
    background-color: #DD0000;
    padding:16px 25px;
    color:white;
    border-radius: 5px;
}
.arrow{
    padding-left:10px;
    align-items: center;
}
.banner-heading{
    font-size: 70px;
    
}
.banner-img{
    padding-top:120px;
}
/*-----------------------
 banner section style end
 ------------------------ */


 /*======================
 blog section style start
 ========================*/
.h-nav{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    background-color: #161616;
    width:300px;
    height: 250px;
    border-radius: 10px;
    margin-right:20px;
    padding:0px 5px;
}
.nav-item{
    height:30px;
    width:150px;
    margin:auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius:10px;
    padding-top:5px;
}
.nav-item:hover{
    background-color: red;
}


.h-nav a{
    text-decoration: none;
    color:black;
    
}
.blogs{
    display: flex;
    width:85%;
    margin:auto;
    padding:50px 0px;
    
    
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    
}
.blog-item{
    border:1px solid rgb(230, 227, 227);
    padding:0px 5px;
    border-radius: 10px;
    

}
#link{
    text-decoration: none;
    
}
.blog-img{
    width:100%;

}
.blog-button{
    background-color: red;
    
}
.blog-button a{
    color:white;
}
.blog-item a{
    color:black;
}
.message{
    padding-left:20px;
}
.fa-clock, .fa-message{
    color:rgba(22, 22, 22, 0.7);
}
.view-all-btn a{
    text-decoration: none;
    color:white;
    background-color: #DD0000;
    border-radius: 5px;
    padding:0px 20px;

}
.view-all-btn{
    
    text-align: center;
    
}
/*======================
blog section style end 
===================== */

/* footer section style start  */
footer{
    background-color: #161616;
    height: auto;
    color:white;
    padding-top:50px;
}
footer h2{
    text-align: center;
    padding-bottom:20px;
}
hr{
    border:1px solid rgba(255, 255, 255, 0.1);
    width:70%;
    margin:auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin:auto;
    padding-top:30px;
}

.icon{
    
    width:60%;
    margin:auto;
    padding:20px 50px;
    text-align: center;
}
.icon a{
    
    padding-left:8px;
    text-decoration: none;
    color:white;
}
/* footer section style end  */

/* ----------------
     media Quaries
------------------- */
/* for mobile */
@media only screen and (max-width:688px){
    .banner-section{
        width:95%;
    }
    .banner{
        flex-direction: column;
    }
    .blogs{
        flex-direction: column;

    }
    .blog{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
    .blog-item{
        width:80%;
        margin:auto;
        text-align: left;
    }
    .blog-img{
        width:100%;
    }
    
    .h-nav{
        background-color: white;
        
    }
    .nav-item{
        border:1px solid rgb(90, 88, 88);
        
    }
    .view-all-btn a{
        display: none;
        
    }
    .footer-content{
        flex-direction: column;
        align-items: center;
        width:100%;
        padding-top:10px;
    }
}
/* for tablet */
@media only screen and (min-width:688px) and (max-width:992px) {
    .blog{
        grid-template-columns: repeat(2,1fr);
        

    }
    .h-nav{
        display: flex;
        width:80%;
        background-color: white;
        grid-row-gap:5px;
    

    }
    .nav-item{
        border:1px solid rgb(90, 88, 88);
    }
    .blogs{
        flex-direction: column;
       text-align: center;
        align-items: center;
    } 
    .special-div{
        display: none;
    }
    .view-all-btn{
        
        text-align: center;
    }
}
/* for laptop */
@media only screen and (min-width:993px) and (max-width:1312px){
    .view-all-btn a{
        display: none;
        
    }
    
    

    
}
/* ---------------------
     media query end 
-----------------------*/
