body{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.banner-section{
    background-color: #161616;
    color:white;
    width: 80%;
    margin:auto;
    border-radius:30px;
    padding-bottom:30px;
    margin-top:20px;
    
}


.banner{
    display: flex;
    width:90%;
    margin:auto;
    justify-content: space-between;
    align-items: center;
    gap:60px;
    
}
.banner-item p{
    padding-bottom:20px;
}
.banner-item a{
    text-decoration: none;
    background-color: #DD0000;
    padding:16px 25px;
    color:white;
    border-radius: 5px;
}
.arrow{
    padding-left:10px;
    align-items: center;
}
.banner-heading{
    font-size: 70px;
    
}

.h-nav{
    display: flex;
    flex-direction:column;
    background-color: #161616;
    width: 312px;
    height: 250px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-right:40px;
}
.nav-item{
    height:30px;
    width: 120px;
    margin:auto;
    background-color: #FFFFFF;
    text-align: center;
    border-radius:10px;
    padding-top:5px;
}
.nav-item:hover{
    background-color: red;
}

.h-nav a{
    text-decoration: none;
    color:black;
    
}
.blogs{
    display: flex;
    width:80%;
    margin:auto;
    padding:50px 0px;
}
.blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}
#link{
    text-decoration: none;
    
}
.blog-img{
    width:20vw;

}

footer{
    background-color: #161616;
    height: auto;
    color:white;
    padding-top:50px;
}
footer h2{
    text-align: center;
    padding-bottom:20px;
}
hr{
    border:1px solid rgba(255, 255, 255, 0.1);
    width:70%;
    margin:auto;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    width:70%;
    margin:auto;
    padding-top:30px;
}

.icon{
    
    width:60%;
    margin:auto;
    padding:20px 50px;
    text-align: center;
}
.icon a{
    
    padding-left:8px;
    text-decoration: none;
    color:white;
}
/* ----------------
     media Quaries
------------------- */
/* for mobile */
@media only screen and (max-width:688px){
    .blog{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
        

    }
    .banner{
        flex-direction: column;
    }
    .blogs{
        flex-direction: column;

    }  
    .footer-content{
        flex-direction: column;
        align-items: center;
        width:100%;
        padding-top:10px;
    }
}
/* for tablet */
@media only screen and (min-width:688px) and (max-width:992px) {
    .blog{
        grid-template-columns: repeat(2,1fr);

    }
    .h-nav{
        display: flex;
        flex-direction: column;
    }
    .blogs{
        flex-direction: column;
       text-align: center;
        align-items: center;

    } 
    
    

    
}
